body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS';
    background-color: #0000001c;
    box-sizing: border-box;
    text-align: center;
}

/* .......................Start Nav Bar......................*/

.nav-container{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 95%;
    margin: 0 auto;
    display: flex;
}

.logo{
    
    padding:10px;
    font-size: 25px;
    color: #222222db;
}

.nav-link{
    margin-left:20%;
    display: flex;
    align-items: center;
}

.nav-link a{
    margin-right: 30px;
    border-radius: 15px;
    text-decoration: none;
    color: #5e5d5d;
    font-size: 20px;
    transition: .4s ease;
    display: inline-block;    
    padding:10px 10px 10px 10px;
    position: relative;
}

.nav-link a.li4{
    color:black;
    font-weight: bold;
}

.underline{
    margin-top: 5px;
    display: block;
    height: 4px;
    background: rgb(0, 0, 0);
    width: 0;
    transition: width 0.3s ease;
}
.act:hover .underline, .li2:hover .underline, .li3:hover .underline, .li4:hover .underline, .li5:hover .underline {
    width: 100%;
}

.nav-link a:hover{
    color: #000000;
    background-color:#0000001c;
}

/* .......................End Nav Bar...................... */

h2 {
    margin: 50px 0;
    font-size: 32px;
    color: #000000;
}



.categories {
    margin: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    justify-content: center;
}

.category {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.category img {
    width: 60px;
    height: 60px;
}

.category p {
    font-size: 17px;
    font-weight: bold;
}

.category:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 12px rgba(0, 0, 0, 0.4);
    text-decoration:underline;
}


.form-section {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    width: 500px;
    margin: 30px auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.form-section h3 {
    font-size: 30px;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-section p {
    margin-bottom: 25px;
}

.form-section input {
    width: 95%;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
}

.form-section button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-section button:hover {
    background-color: #000000;
}


.support {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-bottom: 50px;
}

.support-box {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 350px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.support-box img {
    width: 50px;
    height: 50px;
}

.support-box h3 {
    font-size: 20px;
    color: #000000;
    margin-bottom: 10px;
}

.support-box p {
    font-size: 14px;
    margin-bottom: 15px;
}

.support-box button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.support-box button:hover {
    background-color: #000000;
}
